<% if @tweet.errors.present? %>
<h3>エラーがあります。</h3>
<ul>
  <% @tweet.errors.full_messages.each do |msg| %>
   <li><%= msg %></li>
   <% end %>
</ul>
<% end %>


<%= form_for @tweet,url:{action: :update} do |f| %>
  <h2><%= f.label :message, 'メッセージ' %></h2>
  <p><%= f.text_field :message %></p>
  <p><%= f.submit '更新' %></p>
<% end %>