<h1>Tweets</h1>
<% @tweets.each do |t| %>
 <p>
  <%= t.message %>
  <%= time_ago_in_words t.created_at %><%= '前' %>
  <%= link_to '削除', "/tweets/#{t.id}",method: :delete%>
  <%= link_to '表示', "/tweets/#{t.id}" %>
  <%= link_to '編集', "/tweets/#{t.id}/edit" %>
 </p>
<% end %>
<p><%= link_to 'つぶやく', 'tweets/new' %></p>

